<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <title>Filtered orders</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Filtered Orders</h1>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th>Color</th>
            <th>Size</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.getBalloonColor()}"></td>
            <td th:text="${order.getBalloonSize()}"></td>
            <td th:text="${order.getDateCreated()}"></td>
        </tr>
        </tbody>
    </table>
    <h1 th:text="${color}"></h1>
</main>
</body>
</html>