<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="utf-8">
  <title>Balloon Order page - Welcome and choose a Balloon</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }
  </style>
</head>
<body>
<header>
  <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
  <h2>Choose balloon color:</h2>
  <form th:method="POST" th:action="@{/balloon}">
    <input type="radio" name="color" value="Red Balloon"> Red Balloon<br/>
    <input type="radio" name="color" value="Green Balloon"> Green Balloon<br/>
    <input type="radio" name="color" value="Yellow Balloon"> Yellow Balloon<br/>
    <input type="radio" name="color" value="Blue Balloon"> Blue Balloon<br/>

    <br/>
<!--    href="/selectBalloonSize.html" -->
    <input type="submit" value="Submit"/>
  </form>
  <ul th:each="b : ${balloons}">
    <li th:block th:text="${b.getName()}"></li>
  </ul>
</main>
</body>
</html>